TLDesignerAction30 BITMAP "Images\\TLDesignerAction30.bmp"
TListLabel30 BITMAP "Images\\TListLabel30.bmp"
TLlDesignerFunction30 BITMAP "Images\\TLlDesignerFunction30.bmp"
TLlDesignerObject30 BITMAP "Images\\TLlDesignerObject30.bmp"
TLlPreviewControl30 BITMAP "Images\\TLlPreviewControl30.bmp"
TLlRTFControl30 BITMAP "Images\\TLlRTFControl30.bmp"
