TLDesignerAction31 BITMAP "Images\\TLDesignerAction31.bmp"
TListLabel31 BITMAP "Images\\TListLabel31.bmp"
TLlDesignerFunction31 BITMAP "Images\\TLlDesignerFunction31.bmp"
TLlDesignerObject31 BITMAP "Images\\TLlDesignerObject31.bmp"
TLlPreviewControl31 BITMAP "Images\\TLlPreviewControl31.bmp"
TLlRTFControl31 BITMAP "Images\\TLlRTFControl31.bmp"
